/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden!important; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
.js .is-hidden {display:none;}
.is-visible {display:block;}


$all-the-things: (
	fl: (float: left, display:inline;)
)



/* Floats/Clears */
.fl {float: left; display:inline; }
.fr {float: right; display:inline;}

.clear {
	&--l { clear: left; }
	&--r { clear: right; }
	&--b { clear: both; }
	&--none { clear: none; }
}

%ib-fix { font-size: 0; }
.ib { @include inline-block; }




/* Positioning */
.pos {
	&--r { position: relative; }
	&--a { position: absolute; }
	&--f { position: fixed; }
}



/* Alignments */

// Layout
.l-align {
	&--left { float: left; }
	&--right { float: right; }
	&--center { @include align-center() }
	&--bottom { @include inline-block(bottom); float: none!important;}

	&--vertical {
		&--top { vertical-align: top; }
		&--mid { vertical-align: middle; }
		&--bottom { vertical-align: bottom; }
	}
}




// Reset Shit
.reset {
	&--margin { margin: 0 !important; }
	&--padding { padding: 0 !important; }
	&--height { height: auto; }
	&--all { line-height:0; margin:0; padding:0; height:0; font-size:0; }
}




// text based hooks
.text {
	&--strong { font-weight: bold; }
	&--normal { font-weight: normal; }
	&--italic { font-style: italic; }

	&--upper { text-transform: uppercase; }
	&--lower { text-transform: lowercase; }
	&--reset { text-transform: none; text-decoration: none; }

	&--left { text-align:left; }
	&--right { text-align: right; }
	&--center { text-align: center; }

	&--underline { text-decoration: underline; }
}



//overflows
.overflow {
	&--hid { overflow: hidden; }
	&--vis { overflow: visible; }
	&--auto { overflow: auto; }
	&--scroll { overflow: scroll; }
}




// Borders
.border {
	border: 1px solid $primaryColor;

	&--top { border-top: 1px solid $primaryColor; }
	&--right { border-right: 1px solid $primaryColor; }
	&--bottom { border-bottom: 1px solid $primaryColor; }
	&--left { border-left: 1px solid $primaryColor; }

	&--none { border: 0px solid transparent; }
}




$box-model-property-map: (
	m: (margin),
    mt: (margin-top),
    mr: (margin-right),
    mb: (margin-bottom),
    ml: (margin-left),
    mlr: (margin-left, margin-right),
    mtb: (margin-top, margin-bottom),
    p: (padding),
    pt: (padding-top),
    pr: (padding-right),
    pb: (padding-bottom),
    pl: (padding-left),
    plr: (padding-left, padding-right),
    ptb: (padding-top, padding-bottom),
    width: (width)
);
$sizes-list: 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100;

html {
	@each $size in $sizes-list {
		@each $keyword, $property in $box-model-property-map {

			.#{$keyword}#{$size} {
				@each $style in $property {

					@if $keyword == width {
						#{$style}: percentage($size / 100);
					} @else {
						#{$style}: $size + px;
					}

				}
			}

		}
	}
}
