
//		<div class="o-valign">
//
//			<div class="o-valign__table">
//
//				<div class="o-valign__cell  o-valign__cell--top||middle||bottom">
//
//					<h1>stuff you want aligned</h1>
//
//				</div>
//
//			</div>
//		</div>

/* align elements via display:table */
.o-valign {

	@include _position(absolute,0,0,0,0);
	height: 100%; width: 100%;
	display: block;
    text-align: center;

	&__table {
		display: table;
		height: 100%; width: 100%;
	}

	&__cell {
		display: table-cell;

		&--top {
			vertical-align: top;
		}
		&--middle {
			vertical-align: middle;
		}
		&--bottom {
			vertical-align: bottom;
		}
	}

}
