/* Each pallete specific colours */
/*
can use variables here instead of hex values

apply the class on the body
e.g.
theme-blue
theme-green
*/
$theme-color: '';
$themes:

themeone (
	primary $color--primary,
	secondary $color--secondary,
	tertiary $color--tertiary
),

themetwo (
	primary $color--primary,
	secondary $color--secondary,
	tertiary $color--tertiary
);

@mixin set-color($type, $themes: $themes) {

    @each $theme in $themes {
        $name: nth($theme, 1);

        @each $colours in nth($theme, 2) {

            @if nth($colours, 1) == $type {

                .theme-#{$name} & {

                    $theme-color: nth($colours, 2) !global;
                    @content;

                }

            }

        }

    }


}


/* if the body has the class of theme-blue then it will pass the primary value as the colour for the body */
body {
	@include set-color(primary) {
		background-color: $theme-color;
	}
}
