// -------------------------------------------------------------------------------------- //
// ------------------------------- ANIMATION RELATED MIXINS ----------------------------- //
// -------------------------------------------------------------------------------------- //


@mixin hardwareAccelerate {
	transform: translate3d(0,0,0);
	perspective: 1000;
	backface-visibility: hidden;
}
// usage:
// @include hardwareAccelerate;
