// -------------------------------------------------------------------------------------- //
// ------------------------------- ANIMATION RELATED MIXINS ----------------------------- //
// -------------------------------------------------------------------------------------- //


// Basic Animation Mixin
@mixin animate($property, $value...) {
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}
// Advanced Animation Mixin
@mixin animation ($name, $origin, $duration, $easing, $delay, $iteration, $direction) {

	-webkit-animation-name: $name;
	-webkit-transform-origin: $origin;
	-webkit-animation-duration: $duration;
	-webkit-animation-timing-function: $easing;
	-webkit-animation-delay: $delay;
	-webkit-animation-iteration-count: $iteration;
	-webkit-animation-direction: $direction;

	-moz-animation-name: $name;
	-moz-transform-origin: $origin;
	-moz-animation-duration: $duration;
	-moz-animation-timing-function: $easing;
	-moz-animation-delay: $delay;
	-moz-animation-iteration-count: $iteration;
	-moz-animation-direction: $direction;

	-ms-animation-name: $name;
	-ms-transform-origin: $origin;
	-ms-animation-duration: $duration;
	-ms-animation-timing-function: $easing;
	-ms-animation-delay: $delay;
	-ms-animation-iteration-count: $iteration;
	-ms-animation-direction: $direction;

	animation-name: $name;
	transform-origin: $origin;
	animation-duration: $duration;
	animation-timing-function: $easing;
	animation-delay: $delay;
	animation-iteration-count: $iteration;
	animation-direction: $direction;

}
// usage:
// @include animation(flash, center center, 2s, $easeInOut, 0, infinite, normal);

$browser: null;
@mixin keyframe($animationName) {

	@-webkit-keyframes #{$animationName} {
	    $browser: '-webkit-';
	    @content;
	}

	@-moz-keyframes #{$animationName} {
	    $browser: '-moz-';
	    @content;
	}

	@-o-keyframes #{$animationName} {
	    $browser: '-o-';
	    @content;
	}

	@keyframes #{$animationName} {
	    $browser: '';
	    @content;
	}

}
// usage:
//      .fadeIn {
//          @include animate(animation, fadeIn);
//      }
//      @include keyframe(fadeIn) {
//          0% {opacity: 0;}
//          100% {opacity: 1;}
//      }


@mixin hardwareAccelerate {
	@include transform(translate3d(0,0,0));
	@include perspective(1000);
	@include backface-visibility(hidden);
}
// usage:
// @include hardwareAccelerate;


@mixin preserve3d {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}