// ------------------------------------------------------------------------------------ //
// ------------------------------- COLOUR RELATED MIXINS ------------------------------ //
// ------------------------------------------------------------------------------------ //

/// Quick DRY mixin for creating coloured overlays
@mixin overlay($pseudo: false, $position: fixed, $color: #fff, $alpha: 0.5, $index:2) {
	@if $pseudo == true{
	   	content:"";
	}
	display: block;
	@include _position($position,0,0,0,0,$index);
	width: 100%;
	height: 100%;

	@if $pseudo == true{

	 	background: $color none repeat 0 0;
	 	opacity: $alpha;

	} @else {

	 	background: rgba($color, $alpha);
	}
}
// USAGE: @include overlay(true, fixed, #fff, 0.5);
// returns (if pseudo == true):
// 				content:"";
//				position:fixed;
//				top:0;
// 				right:0px;
// 				bottom:0;
// 				left:0;
// 				z-index:2;
// 				display: block;
// 				width: 100%;
// 				height: 100%;
// 				background: #fff none repeat 0 0;
// 				opacity(0.5);


// Grayscaling
@mixin grayscaleActive {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); // Firefox 10+, Firefox on Android
	filter: gray; // IE6-9
	-webkit-filter: grayscale(100%); // Chrome 19+, Safari 6+, Safari 6+ iOS
}

@mixin grayscaleDisabled {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%);
}



