// --------------------------------------------------------------------------------------- //
// ------------------------------------ TRANSFORM MIXINS --------------------------------- //
// --------------------------------------------------------------------------------------- //

// Transform
@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}
// usage:
// @include transform( scale(1,1) );




// Transform Style
@mixin transform-style($transformStyle) {
	-webkit-transform-style: $transformStyle;
	-moz-transform-style: $transformStyle;
	-ms-transform-style: $transformStyle;
	-o-transform-style: $transformStyle;
	transform-style: $transformStyle;
}
// usage:
// @include transform-style( preserve-3d );



// Transform Origin
@mixin transform-origin($transformOrigin) {
	-webkit-transform-origin: $transformOrigin;
	-moz-transform-origin: $transformOrigin;
	-ms-transform-origin: $transformOrigin;
	-o-transform-origin: $transformOrigin;
	transform-origin: $transformOrigin;
}
// usage:
// @include transform-origin( 100% 100% );



// Rotate
@mixin rotate( $degrees ) {
	-webkit-transform: rotate(#{$degrees}deg);
	-moz-transform: rotate(#{$degrees}deg);
	-ms-transform: rotate(#{$degrees}deg);
	-o-transform: rotate(#{$degrees}deg);
	transform: rotate(#{$degrees}deg);
}
// usage:
// @include rotate( 24 );



// Perspective
@mixin perspective ($perspective) {
	-webkit-perspective: $perspective;
	-moz-perspective: $perspective;
	-ms-perspective: $perspective;
	perspective: $perspective;
}
// usage:
// e.g. @include perspective( 1000 );

// Perspective
@mixin perspective-origin ($perspective-origin) {
	-webkit-perspective-origin: $perspective-origin;
	-moz-perspective-origin: $perspective-origin;
	-ms-perspective-origin: $perspective-origin;
	perspective-origin: $perspective-origin;
}
// usage:
// e.g. @include perspective( 1000 );


// Backface Visibility
@mixin backface-visibility($visibility:hidden) {
	-webkit-backface-visibility:  $visibility;
	-moz-backface-visibility:  $visibility;
	-ms-backface-visibility:  $visibility;
	backface-visibility:  $visibility;
}
// usage:
// e.g. @include backface-visibility( hidden );
