/*======================
======= Accordion ======*/

// If JS is enabled then hide the body of each accordion - JS will initiate the accordion.
.js .js-accordion { display:none; }



.c-accordion {

	margin-bottom: 20px;
	clear: both;

	&__inner {
		position: relative;
		padding: 10px 0;

		> ul {

			margin: 0;

			> li {
				margin: 0 10px;
				border-bottom: 1px solid $color--tertiary;
			}
		}

		&--nopadd {
			padding: 0;

			> ul > li { margin: 0; }
		}

	}


	&__title {
		@include font-size($size--zeta);
		display: block;
		padding: 5px 0;
		@include transition(0.3s $easeInOut all);
		text-transform: uppercase;
		text-decoration: none;

		&:before {
			position: relative;
			top: 3px;
			color: $color--tertiary;
			@include fonticon;
			content: "\e610";
			@include font-size($size--epsilon);
		}

		&.is-open {
			&:before {
				content:"\e60e";
			}
		}
	}


	&__body {

		padding: 7px 20px 5px;
		position: relative;
		margin-bottom: 10px;

	}

}
