/* Modal Popups -> using magnific responsive popup */

.mfp-content {

	.modal {
		position: relative;
		width: auto;
		max-width: 800px;
		margin: 10px auto;
		@include clearfix;
		perspective: 1300px;

		&:after {
			background: $color--secondary none repeat 0 0;
			box-shadow: none;
		}

		.modal__content {
			background: transparent none repeat 0 0;
			box-shadow: 0px 0px 0px 10px rgba($color--secondary, 0.3);
			opacity: 0;
			transition: all 0.3s $easeInOut;

			&--anim {
				transform: translateY(100%), rotateX(90deg);
				transform-style: preserve-3d;
				transform-origin: 0 100%;
			}

		}

			.modal__img,
			.mfp-img {
				padding: 0;
			}

			.modal__close,
			.mfp-close {
				height: 30px;
				width: 30px;
				top: 0;
				right: 0;
				padding: 0;
				background: $color--secondary none no-repeat 0 0;
				color: $color--primary;
				line-height: 1;
				text-align: center;
				opacity: 1;
				@include remove-focus;
			}

	}

}

.mfp-ready .mfp-content .modal__content {
	opacity: 1;

	&--anim {
	  	transform: translateY(0%), rotateX(0deg);
	}
}

.mfp-removing .mfp-content .modal__content {
	opacity: 0;
	transition: all 0.3s $easeInOut;

	&--anim {
		transform: translateY(100%), rotateX(90deg);
		transform-style: preserve-3d;
		transform-origin: 0 100%;
	}

}

.mfp-s-error {
	.mfp-preloader {
		left: 0;
		right: 0;
		max-width: 320px;
		margin: 0px auto;
		padding: 30px;
		background: $color--error;
		color:$color--secondary;

		a {
			color:inherit;
		}
	}
}