/*-----------------------------------------------------------------------------
--------------------------------3--------$TYPOGRAPHY----------------------------
-------------------------------------------------------------------------------*/

html {
	font-size: $base-val;
	line-height: $base-val;
}


body {
	font-family: $font--primary;
	@include font-size($base-font-size);
	color: $color--primary;
	font-weight: normal;
}


/* Paragraph sizes */

p {
	margin: 0 0 10px;
	font-family: $font--secondary;
}

a {
	color: inherit;
	text-decoration: underline;

	&:active,
	&:hover {

	}
}



small {
	@include font-size($size--micro);
	display: inline-block;
}

/*-----------------------------------------------------------------------------
--------------------------------2--------HEADINGS------------------------------
-------------------------------------------------------------------------------*/

%headings {
	margin: 0 0 10px 0;
	color: $color--primary;
	font-family: $font--primary;
	font-weight: normal;
}

// Standard Headings
h1,
.h_alpha {
	@extend %headings;
	@include font-size($size--alpha);
}

h2,
.h_beta {
	@extend %headings;
	@include font-size($size--beta);
}
h3,
.h_gamma {
	@extend %headings;
	@include font-size($size--gamma);
}

h4,
.h_delta {
	@extend %headings;
	@include font-size($size--delta);
}

h5,
.h_epsilon {
	@extend %headings;
	@include font-size($size--epsilon);
}

h6,
.h_zeta {
	@extend %headings;
	@include font-size($size--zeta);
}


// Mega Headlines
.h_giga {
	@include font-size($size--giga);
}
.h_mega {
	@include font-size($size--mega);
}
.h_kilo {
	@include font-size($size--kilo);
}
.h_hecto {
	@include font-size($size--hecto);
}


// Micro Headlines

.h_centi {
	@include font-size($size--centi);
}
.h_milli {
	@include font-size($size--milli);
}
.h_micro {
	@include font-size($size--micro);
}



// Generic Font size classes

.font--xxs { @include font-size($base-font-size - 6); }
.font--xs  { @include font-size($base-font-size - 4); }
.font--s   { @include font-size($base-font-size - 2); }
.font--m   { @include font-size($base-font-size); }
.font--l   { @include font-size($base-font-size + 5); }
.font--xl  { @include font-size($base-font-size + 10); }
.font--xxl { @include font-size($base-font-size + 15); }

