//-------------------------------------------------------------------------------//
//--------------------------------0-------$VARIABLES-----------------------------//
//-------------------------------------------------------------------------------//



 //* Debug mode will visually highlight any potential markup/accessibility quirks
 //* in the browser. Set to `true` or `false`.

$debug-mode:        false;


 //* Do you want all elements to adopt `box-sizing:border-box;` as per
 //* paulirish.com/2012/box-sizing-border-box-ftw ?

$global-border-box: true;



//* Font rendering and optimisation

$global-font-opt: true;

// =============================================================
// ====================== Site Source Path =====================
// =============================================================

$imgsrc: "../img";
// eg. use #{$imgsrc}/blah/blah.jpg

$fontsrc: "../fonts";



// =============================================================
// ===================== Typography ============================
// =============================================================


//------------------------------------//
//    $BASE DEFAULTS
//------------------------------------//

// Global base value for sizing and rhythm
$base-val: 62.5%;

// Base stuff - in px --> to be converted to rems
$base-font-size:	16 	!default;

// Base line-height -- based on major third of modular scale
$base-line-height:	$base-font-size * 1.25 !default;

// Base font-family.
$base-font-family:  	sans-serif!default;

// Default colour for objects’ borders etc.
$base-ui-color:     	#333 !default;


//------------------------------------//
//    $FONT SIZES
//------------------------------------//

// Headings
$alpha-size:		50	!default; // .h_alpha
$beta-size:			30	!default; // .h_beta
$gamma-size:		25	!default; // .h_gamma
$delta-size:		20	!default; // .h_delta
$epsilon-size:		18	!default; // .h_epsilon
$zeta-size:			16	!default; // .h_zeta


$giga-size:			150	!default; // .h_giga
$mega-size:			120	!default; // .h_mega
$kilo-size:			90	!default; // .h_kilo
$hecto-size:		70	!default; // .h_hecto


$centi-size:		13 	!default;
$milli-size: 		12 	!default;
$micro-size: 		10 	!default;

$nav-size:         	15 	!default;

$p-size:            $base-font-size !default;


//------------------------------------//
//    $FONT DECLARATIONS
//------------------------------------//

$primaryFont: "Trebuchet MS", Helvetica, Arial, sans-serif;
$secondaryFont: Georgia, 'Times New Roman', serif;

$fonticon: 'customicon';


$baseFont: normal #{$base-font-size}px / #{$base-line-height}px $primaryFont;


// Weights
$light: 200;
$reg: 400;
$bold: 600;
$bolder: 700;



// =============================================================
// ======================= Colour Vars =========================
// =============================================================

// generic colours
$black:		#000;
$white:		#fff;
$grey:		#ccc;


// CORE HIERARCHICAL COLOURSET
$color--primary: 		$black; // black
$color--secondary: 		$white; // white
$color--tertiary: 		$grey;  // grey


//mood
$error: 	#B42C2C; 	// error red colour
$success: 	#090; 		// success green colour
$info: 		#3399ff; 	// info blue colour
$notice: 	#EC921F; 	// alert orange colour
$urgency: 	#8f262b; 	//

//social
$twitter: #55acee;
$facebook: #3b5998;
$instagram: #3f729b;
$dribbble: #ea4c89;



// =============================================================
// =============== Base Media Query Breakpoints ================
// =============================================================

$mq-mob: 480px!default;
$mq-mob--sml: 320px!default;
$mq-mob--lrg: 640px!default;


$mq-tab: 768px!default;
$mq-tab--sml: 765px!default;
$mq-tab--lrg: 820px!default;


$mq-desk: 960px!default;
$mq-desk--lrg: 1140px!default;


// =============================================================
// ================== Animation Easing Types ===================
// =============================================================

$easeIn: cubic-bezier(0.825, 0.000, 1.000, 0.640);
$easeInOut: cubic-bezier(0.665, 0.000, 0.430, 1);
$easeOut: cubic-bezier(0.200, 0.470, 0.435, 0.970);
$linear: cubic-bezier(0.250, 0.250, 0.750, 0.750);

// usage:
// e.g. @include transition(.6s $easeInOut all);
