/*======================
======= Accordion ======*/

// If JS is enabled then hide the body of each accordion - JS will initiate the accordion.
.js .js-accordion { display:none; }



.accordion {

	margin-bottom: 20px;
	clear: both;

	.accordion__inner {
		position: relative;
		padding:10px 0;

		> ul {

			margin: 0;

			> li {
				margin: 0 10px;
				border-bottom: 1px solid $tertiaryColor;
			}
		}

		&--nopadd {
			padding: 0;

			> ul > li { margin: 0; }
		}

	}
	.accordion__title {
		@include font-size($zeta-size);
		display: block;
		padding:5px 0;
		@include transition(0.3s $easeInOut all);
		text-transform: uppercase;
		text-decoration: none;

		&:before {
			position: relative;
			top: 3px;
			color:$tertiaryColor;
			@include fonticon;
			content:"\e610";
			@include font-size($epsilon-size);
		}

		&.is-open {
			&:before {
				content:"\e60e";
			}
		}
	}

	.accordion__body {

		padding: 7px 20px 5px;
		position: relative;
		margin-bottom: 10px;

		> ul {
			margin: 0;
		}

		p {
			@include font-size($milli-size);
		}

	}



	// Boxed Modifier -> Category page

	&--boxed {

		border:1px solid $tertiaryColor;

		.accordion__title {
			color:$tertiaryColor;
			padding: 0;

			&:before {
				display: none;
				visibility: hidden;
			}

			&:after {
				position: relative;
				top: 0;
				float: right;
				color:$tertiaryColor;
				@include fonticon;
				content:"\e610";
				@include font-size($epsilon-size);
			}

			&.is-open {
				&:after {
					content:"\e60e";
				}
			}
		}

		.accordion__inner {
			padding: 20px 0;
			ul li { border-bottom: 0px solid transparent; }
			p { color:$tertiaryColor; }
		}
			.accordion__body {
				margin-bottom: 5px;
				padding: 7px 10px 5px;

				li,a {
					color:$tertiaryColor;
					font-family:$secondaryFont;
					margin: 5px 0;
				}
			}

	}

}