// VARIABLES
$alert-close-size: 40;
$alert-height: 60;

/*------------------------------------*\
    $ALERTS
\*------------------------------------*/
/**
 *
 *
 *
 * Red          ==      definite error
 * Yellow       ==      double-check
 * None         ==      should be fine
 *
 *
 *
 */



.alert {
	@include _position(fixed, 10px, 0, auto, 0, 999999);
	max-width: 1260px;
	width: 100%;
	margin: auto;
	padding: 10px 15px 15px;

	@include box-shadow(0 1px 1px 5px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.3));
	@include opacity(0);
	cursor: default;
	display: none;
	pointer-events: none;


	&:after {
		content: "";
		@include _position(absolute, auto, 0, 10px, 2%);
		width: 0;
		height: 4px;
		@include rgba('background-color', rgba($color--tertiary, 0.3), $color--tertiary);
		border-radius: 3px;
		@include box-shadow( inset 0 1px 1px rgba(0,0,0,0.05), 0 -1px 0 rgba(255,255,255,0.6) );

		@include animation(runProgress, center center, 3s, $easeInOut, 0.9s, 1, normal);
	}


	&.is-alerted {

		display:block;
		@include animation(fadeOut, center center, 4s, $easeInOut, 0.4s, 1, normal);

		.lt-ie10 & {
			@include opacity(1);
		}

	}



	&__container{
		padding: 5px 0;
	}

		&__copy {

			margin: 0;
			text-align: center;
			text-transform: uppercase;
			vertical-align: middle;
			color: $color--white;

			@include font-size($centi-size);

			&:before {
				@include inline-block(top);
				@include fonticon;
				@include font-size($centi-size + 1, $centi-size + 1);
			}

		}

		&__close {

			display: block;
			@include _position(absolute, -10px, 0, auto, auto);
			width: #{$alert-close-size}px;
			color: $color--tertiary;
			text-align: center;
			text-decoration: none;
			vertical-align: middle;

			@include font-size($alert-close-size, $alert-close-size);
			@include opacity(0.6);

			pointer-events: auto;


			&:hover{
				@include opacity(1);
				text-decoration: none;
			}
		}



	$alerts: (
		success: (
			color: $color--success,
			icon: "\e61b"
		),
		info: (
			color: $color--info,
			icon: "\e61d"
		),
		notice: (
			color: $color--notice,
			icon: "\e61c"
		),
		error: (
			color: $color--error,
			icon: "\e61e"
		)
	);

	// Alert Variations
	@each $alert, $theme in $alerts {

		&--#{$alert} {
			background-color: map-get($theme, color);

			.alert__copy {
				&:before {
					content: map-get($theme, icon);
				}
			}
		}

	}

}



// Notice
.notice {
	padding: 5px;
	margin: 20px 0;
	background: $color--secondary none repeat 0 0;
	@include font-size($base-font-size);
	text-align: center;


	&--error {
		background: $error none repeat 0 0;
		color:$color--secondary;
		text-transform: uppercase;
	}

}



@include keyframe(fadeOut) {
	0%   { opacity: 0; }
	10%  { opacity: 1; }
	90%  { opacity: 1; #{$browser}transform: translateY(0px); }
	99%  { opacity: 0; #{$browser}transform: translateY(-30px); }
	100% { opacity: 0; }
}

@include keyframe(runProgress) {
	0%{ width: 0%; @include rgba('background-color', rgba($color--tertiary, 0.3), $color--tertiary); }
	100%{ width: 96%; @include rgba('background-color', rgba($color--tertiary, 1), $color--tertiary); }
}