// Modular Reuseable Button Styles


/*------------------------------------*\
	$BUTTONS - BASE SETTINGS
\*------------------------------------*/
/**
 * Base button styles.
 *
 * 1. Allow us to better style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Stop buttons wrapping and looking broken.
 * 4. Make buttons inherit font styles.
 * 5. Force all elements using beautons to appear clickable.
 * 6. Normalise box model styles.
 * 7. If the buttonâ€™s text is 1em, and the button is (3 * font-size) tall, then
 *    there is 1em of space above and below that text. We therefore apply 1em
 *    of space to the left and right, as padding, to keep consistent spacing.
 * 8. Basic cosmetics for default buttons. Change or override at will.
 * 9. Dont allow buttons to have underlines; it kinda ruins the illusion.
 */
.btn {
	display: inline-block;		/* [1] */
	vertical-align: middle;		/* [2] */
	white-space: nowrap;		/* [3] */
	font-family: inherit;		/* [4] */
	font-size: 100%;			/* [4] */
	cursor: pointer;			/* [5] */
	border: none;				/* [6] */
	margin: 0;					/* [6] */
	padding-top: 0;				/* [6] */
	padding-bottom: 0;			/* [6] */
	line-height: 1;				/* [7] */
	padding-right: 0.5em;		/* [7] */
	padding-left: 0.5em;		/* [7] */
	border-radius: 0px;			/* [8] */
}

.btn {

	position: relative;
	text-transform: uppercase;

	& + & {
		margin-top: 5px;
	}

	&,
	&:hover{
		text-decoration:none;   /* [9] */
		@include transition(all 0.5s $easeInOut);
	}

	&:active,
	&:focus{
		outline:none;
	}


	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		@include transition(0.3s $easeInOut all);
	}

}





/*------------------------------------*\
	$SIZES
\*------------------------------------*/
/**
 * Button size modifiers.
 *
 * These all follow the same sizing rules as above; text is 1em, space around it
 * remains uniform.
 */

 .btn {

	&--small{
		padding-right:3.5em;
		padding-left: 3.5em;
		@include font-size($milli-size,$beta-size);
	}

	&--large{
		padding-right:4.5em;
		padding-left: 4.5em;
		@include font-size($nav-size,$beta-size);
	}

	&--huge{
		padding-right:5em;
		padding-left: 5em;
		@include font-size($delta-size,$hecto-size);
	}

	&--flush {
		padding-left: 1em;
		padding-right:4.5em;
		@include font-size($nav-size,$beta-size);
	}

 }

/**
 * These buttons will fill the entirety of their container.
 *
 * 1. Remove padding so that widths and paddings dont conflict.
 */
.btn--full{
	width:100%;
	padding-right:0;            /* [1] */
	padding-left: 0;             /* [1] */
	text-align:center;
}

/**
 * These buttons will fill half of their container.
 *
 * 1. Remove padding so that widths and paddings dont conflict.
 */
.btn--half{
	width:50%;
	padding-right:0;            /* [1] */
	padding-left: 0;            /* [1] */
	text-align:center;
}


 /*------------------------------------*\
	$FUNCTIONS
\*------------------------------------*/
/**
 * Button function modifiers for Colour Skinning.
 */

// background-color
// color
// background-color [active]
// color [active]
// font-family
// border

 $types: (

 	primary: (
 		$primaryColor,
 		$white,
 		lighten(rgba($primaryColor, 0.8), 25%),
 		$white,
 		$primaryFont,
 		$primaryColor
 	),

 	secondary: (
 		$secondaryColor,
 		$primaryColor,
 		darken(rgba($secondaryColor, 0.8), 5%),
 		$primaryColor,
 		$secondaryFont,
 		$primaryColor
 	),

 	tertiary: (
 		$tertiaryColor,
 		$primaryColor,
 		$primaryColor,
 		$tertiaryColor,
 		$primaryFont,
 		$tertiaryColor
 	)

 );


.btn {

	@each $type, $property, $fonts, $border in $types {

		$bgColor: nth($property, 1);				// background-color
		$textColor: nth($property, 2);				// color
		$bgColor--active: nth($property, 3);		// background-color [active]
		$textColor--active: nth($property, 4);		// color [active]
		$font: nth($property, 5);					// font-family
		$border: nth($property, 6);					// border


		&--#{$type} {
			background: $bgColor none repeat 0 0;
			border: 1px solid $border;
			color: $textColor;
			font-family: $font;

			> span { position: relative; z-index: 1; }

			&:after {
				background-color: $bgColor--active;

				width: 0%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 0;
			}

			&:hover {

				color:$textColor--active;

				&:after {
					width: 100%;
				}
			}
		}
	}

}


/**
 * Positive actions; e.g. sign in, purchase, submit, etc.
 */
.btn--positive{
	background-color:$success;
	color:#fff;
}

/**
 * Negative actions; e.g. close account, delete photo, remove friend, etc.
 */
.btn--negative{
	background-color:$error;
	color:#fff;
}

/**
 * Inactive, disabled buttons.
 *
 * 1. Make the button look like normal text when hovered.
 */
.btn--inactive,
	.btn--inactive:hover,
	.btn--inactive:active,
	.btn--inactive:focus{
		background-color:#ddd;
		color:#777;
		cursor:text;            /* [1] */
	}





/*------------------------------------*\
	$STYLES
\*------------------------------------*/
/**
 * Button style modifiers.
 *
 * 1. Use an overly-large number to ensure completely rounded, pill-like ends.
 */
.btn--soft{
	border-radius: 200px;        /* [1] */
}

.btn--hard{
	border-radius: 0px;
}

.btn--square {
	height: 25px;
	width: 25px;
	padding: 5px;
	text-align: center;

	> i { @include font-size($milli-size,$milli-size); }
}

/* Button with aligned icon */

.btn--icon {

	> i {
		@include _position(absolute, 0, 0, 0, auto);
		padding: 0 5px;
	}

	.icon__nested {
		@include _position(absolute, 0, 0, 0, auto);
	}

	.icon__nested--left {
		@include _position(absolute, 0, auto, 0, 0);
	}

	&.btn--icon--left {

		> i {
			right: auto;
			left: 0;
		}
	}
}



/* Add to Cart Button -> add is-error and is-success classes for 3d states */

.btn--action {
	width:100%;
	padding-left: 1em;
	padding-right: 1em;
	text-align: right;
	@include preserve3d;
	@include transition(0.3s $easeInOut all);

	&:before,
	&:after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		padding-left: 1em;
		padding-right: 1em;
	}

	&:before {
		top: 100%;
		background: $error;
		content: "Error!";
		@include transform-origin(0% 0%);
		@include transform(rotateX(-90deg));
	}

	&:after {
		top: -100%;
		background: $success;
		content: "Succesful!";
		@include transform-origin(0% 100%);
		@include transform(rotateX(90deg));
		z-index:1;
	}



	&.is-success,
	&.is-error {
		background: $grey none repeat 0 0;

		span {
		  @include fonticon;
		}
	}

	&.is-success {
		@include transform-origin(50% 100%);
		@include transform(rotateX(-90deg) translateY(100%));

		span {
		  content: "\e600";
		}
	}

	&.is-error {
		@include transform-origin(50% 0%);
		@include transform(rotateX(90deg) translateY(-100%));
	}

}


.btn--clear {
	padding: 5px;
}
