// Modular Reuseable Button Styles


/*------------------------------------*\
	$BUTTONS - BASE SETTINGS
\*------------------------------------*/
/**
 * Base button styles.
 *
 * 1. Allow us to better style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Stop buttons wrapping and looking broken.
 * 4. Make buttons inherit font styles.
 * 5. Force all elements using beautons to appear clickable.
 * 6. Normalise box model styles.
 * 7. If the button's text is 1em, and the button is (3 * font-size) tall, then
 *    there is 1em of space above and below that text. We therefore apply 1em
 *    of space to the left and right, as padding, to keep consistent spacing.
 * 8. Basic cosmetics for default buttons. Change or override at will.
 * 9. Dont allow buttons to have underlines; it kinda ruins the illusion.
 */
.btn {
	display: inline-block;		/* [1] */
	vertical-align: middle;		/* [2] */
	white-space: nowrap;		/* [3] */
	font-family: inherit;		/* [4] */
	font-size: 100%;			/* [4] */
	cursor: pointer;			/* [5] */
	border: none;				/* [6] */
	margin: 0;					/* [6] */
	padding-top: 0;				/* [6] */
	padding-bottom: 0;			/* [6] */
	line-height: 1;				/* [7] */
	padding-right: 0.5em;		/* [7] */
	padding-left: 0.5em;		/* [7] */
	border-radius: 0px;			/* [8] */
}

.btn {

	position: relative;
	text-transform: uppercase;

	& + & {
		margin-top: 5px;
	}

	&,
	&:hover{
		text-decoration:none;   /* [9] */
		@include transition(all 0.5s $easeInOut);
	}

	&:active,
	&:focus{
		outline:none;
	}


	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		@include transition(0.3s $easeInOut all);
	}

}





/*------------------------------------*\
	$SIZES
\*------------------------------------*/
/**
 * Button size modifiers.
 *
 * These all follow the same sizing rules as above; text is 1em, space around it
 * remains uniform.
 */



$styles: (

 	small: (
 		font-size: $btn-size--small,
 		line-height: $btn-size--small * 2.25
 	),

 	medium: (
 		font-size: $btn-size--medium,
 		line-height: $btn-size--medium * 2.25
 	),

 	large: (
 		font-size: $btn-size--large,
 		line-height: $btn-size--large * 2.25
 	),

 	huge: (
 		font-size: $btn-size--huge,
 		line-height: $btn-size--huge * 2.25
 	)

);

.btn {

 	padding-left: 2em;
 	padding-right: 2em;

	@each $class, $style in $styles {

		/**
		* Modifier: #{$class} size
		*/

		&--#{$class} {
			@include font-size(map-get($style, font-size), map-get($style, line-height));
		}

	}


	/* Button with aligned icon */

	&__icon {
		position: relative;
		top: 0.2rem;
	}



	/**
	*  These buttons will fill the entirety of their container.
	*
	*  1. Remove padding so that widths and paddings dont conflict.
	*/
	&--full {
		width: 100%;
		padding-right: 0;            /* [1] */
		padding-left: 0;             /* [1] */
		text-align: center;
	}

	/**
	*  These buttons will fill half of their container.
	*
	*  1. Remove padding so that widths and paddings dont conflict.
	*/
	&--half {
		width: 50%;
		padding-right: 0;            /* [1] */
		padding-left: 0;             /* [1] */
		text-align: center;
	}

}



 /*------------------------------------*\
	$FUNCTIONS
\*------------------------------------*/
/**
 * Button function modifiers for Colour Skinning.
 */

$properties: (

 	primary: (
 		background-color: 			$color--primary,
 		color: 						$color--white,
 		background-color-active: 	lighten(rgba($color--primary, 0.8), 25%),
 		color-active: 				$color--white,
 		font-family: 				$primaryFont,
 		border: 					$color--primary
 	),

 	secondary: (
 		background-color: 			$color--secondary,
 		color: 						$color--primary,
 		background-color-active: 	darken(rgba($color--secondary, 0.8), 5%),
 		color-active: 				$color--primary,
 		font-family: 				$secondaryFont,
 		border: 					$color--primary
 	),

 	tertiary: (
 		background-color: 			$color--tertiary,
 		color: 						$color--primary,
 		background-color-active: 	$color--primary,
 		color-active: 				$color--tertiary,
 		font-family: 				$primaryFont,
 		border: 					$color--tertiary
 	),

	// Actions based on
 	error: (
 		background-color: 			$color--error,
 		color: 						$color--white,
 		background-color-active: 	darken($color--error, 10%),
 		color-active: 				$color--white,
 		font-family: 				$primaryFont,
 		border: 					$color--error
 	),

 	success: (
 		background-color: 			$color--success,
 		color: 						$color--white,
 		background-color-active: 	darken($color--success, 10%),
 		color-active: 				$color--white,
 		font-family: 				$primaryFont,
 		border: 					$color--success
 	),

 	info: (
 		background-color: 			$color--info,
 		color: 						$color--white,
 		background-color-active: 	darken($color--info, 10%),
 		color-active: 				$color--white,
 		font-family: 				$primaryFont,
 		border: 					$color--info
 	),

 	notice: (
 		background-color: 			$color--notice,
 		color: 						$color--white,
 		background-color-active: 	darken($color--notice, 10%),
 		color-active: 				$color--white,
 		font-family: 				$primaryFont,
 		border: 					$color--notice
 	)

);


.btn {

	> span { position: relative; z-index: 1; }

	&:after {
		width: 0%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
	}

	&:hover {
		&:after { width: 100%; }
	}

	@each $class, $property in $properties {

		$bgColor: map-get($property, background-color);						// background-color
		$textColor: map-get($property, color);								// color
		$bgColor--active: map-get($property, background-color-active);		// background-color [active]
		$textColor--active: map-get($property, color-active);				// color [active]
		$font: map-get($property, font-family);								// font-family
		$border: map-get($property, border);								// border


		&--#{$class} {
			background: $bgColor none repeat 0 0;
			border: 1px solid $border;
			color: $textColor;
			font-family: $font;

			&:after {
				background-color: $bgColor--active;
			}

			&:hover {
				color:$textColor--active;
			}
		}
	}

}




/**
 * Inactive, disabled buttons.
 *
 * 1. Make the button look like normal text when hovered.
 */
.btn--inactive,
	.btn--inactive:hover,
	.btn--inactive:active,
	.btn--inactive:focus{
		background-color:#ddd;
		color:#777;
		cursor:text;            /* [1] */
	}





/*------------------------------------*\
	$STYLES
\*------------------------------------*/
/**
* Button style modifiers.
*/


.btn--pill {
	border-radius: 50px;

	&:after { content: none; }
}

.btn--square {
	height: 25px;
	width: 25px;
	padding: 5px;
	text-align: center;

	> i { @include font-size($milli-size,$milli-size); }
}

