
/* ==================================================================================================== */
/* ======================================== Base Form Elements ======================================== */
/* ==================================================================================================== */


// handle all inputs consistently but with ability to extend
@mixin input-styles(
	$input-padd: 5px 10px,
	$border-color: $color--primary,
	$bg-color: $color--secondary,
	$text-color: $color--primary,
	$font: $primaryFont) {

	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	padding: $input-padd;
	border: 1px solid $border-color;
	outline: none;
	background: $bg-color none repeat 0 0;
	color: $text-color;
	font-family: $font;
	@include font-size($input-size,$input-size + 5);
	text-transform: none;
	@include remove-safari-defaults;

}


/* ------------------------------------ */
/* ------------- INPUTS --------------- */
/* ------------------------------------ */


// Base Form Elements Styling
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="date"],
input[type="datetime"],
input[type="search"],
textarea,
select {

	@include input-styles;

	// Base Focus States
	&:focus {
		@include box-shadow(0 0 5px rgba($color--primary, 0.2));
	}

}



// Placeholder Text Styling
input,
textarea {

	@include placeholder {
		color: rgba($color--primary, 0.5);
		@include font-size($input-size);
	}

}


// give height / remove cols and rows from html as they dont validate in HTML5
textarea {
 	min-height: 100px;
}





/* ------------------------------------ */
/* ------------- LABELS --------------- */
/* ------------------------------------ */

label,
legend {
	@include inline-block(middle);
	@include font-size($zeta-size);
	text-align: left;
}

label span,
legend span {
	font-weight: normal;
	color: #444;
}





/*-------------------------------------------------------------------------------------------------
------------------------------- CORE FORM ELEMENTS ------------------------------------------------
---------------------------------------------------------------------------------------------------*/

.form {


	/* ------------------------------------ */
	/* ---------- Form Components --------- */
	/* ------------------------------------ */

	&__row {
		margin-bottom: 10px;
		font-size: 0;

		&--half {

			.form__field {
				@include reset-flush-cols-to(6);

				/* ------------------------ */
				@include mq($max, $mq-mob) {
					width: 100%;
					text-align: center;
				}
				/* ------------------------ */

				+ .form__field {
					padding-left: 10px;

					/* ------------------------ */
					@include mq($max, $mq-mob) {
						padding-left: 0;
					}
					/* ------------------------ */
				}
			}

		}
	}


		&__field {
			position: relative;
			width: 100%;
			text-align: left;
			@include inline-block(top);
			margin: 0 0 10px 0;

			// field width modifiers
			&--half {
				@include reset-flush-cols-to(6);
			}
			&--thirds {
				@include reset-flush-cols-to(4);
			}
			&--quarts {
				@include reset-flush-cols-to(3);
			}
			&--sixths {
				@include reset-flush-cols-to(2);
			}

			// field margin modifiers
			&--alpha {
				margin-left: 0;
			}
			&--omega {
				margin-right: 0;
			}

		}

	&__label {

		margin-bottom: 5px;

		&--reset {
			margin-bottom: 0;
		}
		&--hidden {
			display: none;
		}

	}

	&__smallcopy {
		font-family: $secondaryFont;
		@include font-size($micro-size);
		@include inline-block(top);
		margin-right: 20px;
	}



	/* ------------------------------------ */
	/* ---------- Form Modifiers ---------- */
	/* ------------------------------------ */


	// --- Horizontal Presentation of Forms ---
	//
	//	- form--inline will display a form along one line with the labels beside the inputs as well.
	//		e.g.
	//			Label  |  Input      Label  |  Input      Label  |  Input

	&--inline {

	  .form__field { margin-bottom: 10px; }

		label,
		input,
		button,
		select{
			@include inline-block;
			margin-bottom: 10px;
		}
	}

}







/*-------------------------------------------------------------------------------------------------
------------------------------- File Styling ------------------------------------------------------
---------------------------------------------------------------------------------------------------*/


.file {
	opacity: 0;
	@include _position(absolute, 0, 0, 0, 0, 10);
	width: 100%;
	cursor: pointer;

	&[class*="error"] {

	}

	&-wrap {
		position: relative;
		@include inline-block;
		@include font-size($label-size);
	}
	&-button {
		background-color: $color--primary;
		@include inline-block;
		text-indent: -999em;
		overflow: hidden;
		@include font-size($btn-size--medium,$alpha-size+2);
		padding-right:4.5em;
		padding-left: 4.5em;

		&:after {
			content: "Upload Your CV";
			@include _position(absolute, 0, 0, 0, 0);
		    padding: 0 10px;
			display: block;
			color: $color--primary;
			text-indent: 0;
			text-transform: uppercase;
		    text-align: center;
		}

	}
	&-label {
	}

}


/*-------------------------------------------------------------------------------------------------
----------------------------- Select Styling ------------------------------------------------------
---------------------------------------------------------------------------------------------------*/

.selectdd {
	position: relative;
	display: inline-block;
	clear: none;
	cursor: pointer;
	width:100%;
	color: $black;

	&__options {
		position: absolute;
		z-index: 10;
		display:inline-block;
		width:100%;
		height:100%;
		margin: 0;
		background: none repeat scroll 0 0 $white;
		cursor: pointer;
	}

		&__option {
			@include input-styles(5px 25px 5px 10px, $color--primary, $color--secondary, $color--primary, $primaryFont);
			vertical-align: top;
			@include word-break;
			text-align: left;
			cursor: pointer;

			&:after {
				content: "";
				@include _position(absolute, 50%, 5px, auto, auto);
			    height: 10px;
			    width: 10px;
			    border-right: 3px solid $color--primary;
			    border-bottom: 3px solid $color--primary;
			    @include transform(translateY(-50%) rotate(45deg));
			    @include transform-origin(top center);
			}

			&--error {
				background: $error no-repeat 0 0;
				color:$color--secondary;
				border:1px solid $error;
			}

		}


	&--secondary {

		.select {

			&__option {

				background-color: $color--primary;
				border-color: $color--secondary;
				color: $color--secondary;

				&:after {
					color:$color--secondary;
				}
			}
		}
	}

}






// DRY mixin for radio and checkbox styles
@mixin radio-check-styling($height: 20px, $width: 20px, $bg: $color--primary, $radius: null, $color: $color--primary) {
	position: relative;
	@include inline-block(middle);
	height: $height;
	width: $width;
	overflow: hidden;
	margin-right: 5px;
	border-color: $color;
	border-radius: $radius;
	cursor: pointer;
	@include transition(0.5s $easeInOut all);


	&:before {
		content: "";
		@include _position(absolute, 0, 0, 0, 0);
		@include transition(0.5s $easeInOut all);
	}

	input {
		height: 100%;
		width: 100%;
		vertical-align: top;
		@include opacity ( 0 );
		visibility: hidden;
		cursor:pointer;
	}

	&--selected {
		&:before {
			background-color: $bg;
		}
	}

}
/*-------------------------------------------------------------------------------------------------
-----------------------Radio Input Styling ------------------------------------------------------
---------------------------------------------------------------------------------------------------*/


.radio {
	@include radio-check-styling;
	border: 1px solid;
	border-radius: 50%;

	&:before {
		margin: 3px;
		border-radius: 50%;
		@include transform(scale(0));
	}

	+ label {
		line-height: 1;
		@include inline-block(middle);
	}


	&--selected {
		&:before {
			@include transform(scale(1));
		}
	}

}



/*-------------------------------------------------------------------------------------------------
-----------------------Checkbox Input Styling ------------------------------------------------------
---------------------------------------------------------------------------------------------------*/

.checkbox {
	@include radio-check-styling(20px, 20px, transparent, null)
	border: 1px solid;

	&:before {
		content: none;
	}

	~ label { margin-bottom: 0; }

	&--selected {
		@include transform(rotate(-45deg) scaleY(0.5) translateX(25%));
		border-bottom-width: 7px;
		border-left-width: 3px;
		border-right-color: rgba(0,0,0,0);
		border-top-color: rgba(0,0,0,0);
	}

}





/*-------------------------------------------------------------------------------------------------
-----------------------Error/Success Styling ------------------------------------------------------
---------------------------------------------------------------------------------------------------*/


.form {

	&__field {

		&--error {
		 	* {
				color:$error;
		 	}
		}

		&--success {
		 	* {
				color:$success;
		 	}
		}

	}

	.required { color:$error; }

}

