
/* ==================================================================================================== */
/* ======================================== Base Form Elements ======================================== */
/* ==================================================================================================== */


// handle all inputs consistently but with ability to extend
@mixin input-styles(
	$input-padd: 5px 10px,
	$border-color: $color--primary,
	$bg-color: $color--secondary,
	$text-color: $color--primary,
	$font: $primaryFont) {

	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	padding: $input-padd;
	border: 1px solid $border-color;
	outline: none;
	background: $bg-color none repeat 0 0;
	color: $text-color;
	font-family: $font;
	@include font-size($input-size,$input-size + 5);
	text-transform: none;
	@include remove-safari-defaults;

}


/* ------------------------------------ */
/* ------------- INPUTS --------------- */
/* ------------------------------------ */


// Base Form Elements Styling
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="date"],
input[type="datetime"],
input[type="search"],
textarea,
select {

	@include input-styles;

	// Base Focus States
	&:focus {
		@include box-shadow(0 0 5px rgba($color--primary, 0.2));
	}

}



// Placeholder Text Styling
input,
textarea {

	@include placeholder {
		color: rgba($color--primary, 0.5);
		@include font-size($input-size);
	}

}


// give height / remove cols and rows from html as they dont validate in HTML5
textarea {
 	min-height: 100px;
}





/* ------------------------------------ */
/* ------------- LABELS --------------- */
/* ------------------------------------ */

label,
legend {
	@include inline-block(middle);
	@include font-size($zeta-size);
	text-align: left;
}

label span,
legend span {
	font-weight: normal;
	color: #444;
}

.form__label {

	&--hidden {
		display: none;
	}

}

.form__smallcopy {
	font-family: $secondaryFont;
	@include font-size($micro-size);
	@include inline-block(top);
	margin-right: 20px;
}




/*--- Horizontal Presentation of Forms ---

	- form-inline will display a form along one line with the labels beside the inputs as well.
		e.g.
			Label  |  Input      Label  |  Input      Label  |  Input
---*/

.form--inline{

  .form__field { margin-bottom: 10px; }

	label,
	input,
	button,
	select{
		@include inline-block;
		margin-bottom: 10px;
	}
}



/*-------------------------------------------------------------------------------------------------
----------------------------- Select Styling ------------------------------------------------------
---------------------------------------------------------------------------------------------------*/

.select-wrap {
	position:relative;
	display: inline-block;
	clear: none;
	cursor: pointer;
	width:100%;
	height: 30px;
}

select {
	background: none repeat scroll 0 0 $white;
	display:inline-block;
	width:100%;
	height:100%;
	margin: 0;
	font-family: $primaryFont;
	@include font-size($milli-size, $beta-size);

	&.select {
		position:relative;
		z-index:10;
		height:100%;
		width:100%;
		cursor:pointer;
	}

}

span.select{
	@include _position(absolute, 0, 0, 0, 0);
	width:100%;
	height:100%;
	padding:0 30px 0 15px;
	border: 1px solid $tertiaryColor;
	background: $secondaryColor none repeat 0 0;
	color:$primaryColor;
	font-family: $primaryFont;
	@include font-size($zeta-size, $beta-size);
	@include word-break;
	text-align: left;
	text-transform: uppercase;
	cursor:pointer;
	overflow:hidden;

	&:after {
		@include fonticon;
		content:"\e60e"; // .icon-arrow-down2
		@include _position(absolute, 50%, 5px, auto, auto);
		margin-top: -10px;
		color:$tertiaryColor;
		@include font-size($delta-size);
	}
}

	span.error-select {
	  background: $primaryColor url('#{$imgsrc}/forms/select-error.png') no-repeat right center;
	  color:$error;
	  border:1px solid $error;
	}





// DRY mixin for radio and checkbox styles
@mixin radio-check-styling($height: 15px, $width: 15px, $color: $primaryColor) {
	position:relative;
	@include inline-block(middle);
	height: $height;
	width: $width;
	color:$color;
	overflow:hidden;
	margin-right: 5px;
	cursor:pointer;

	&:before{
		position: absolute;
		top:2px;
		left: 0;
		@include fonticon;
		@include font-size($milli-size,$epsilon-size - 2);
	}

	input {
		@include opacity ( 0 );
		cursor:pointer;
		vertical-align: top;
	}

}
/*-------------------------------------------------------------------------------------------------
-----------------------Radio Input Styling ------------------------------------------------------
---------------------------------------------------------------------------------------------------*/


.radio {
	@include radio-check-styling;

	&:before {
		content: "\e618";
	}

	+ label {
		line-height: 1;
		@include inline-block(middle);
	}


	&--selected {
		&:before {
			content: "\e619";
		}
	}

}



/*-------------------------------------------------------------------------------------------------
-----------------------Checkbox Input Styling ------------------------------------------------------
---------------------------------------------------------------------------------------------------*/

.checkbox {
	@include radio-check-styling;

	&:before {
		content: "";
	}

	input {
		width:15px; height:15px;
		margin:0; padding:0;
	}

	&--selected {
		&:before {
			content: "\e617";
		}
	}

}





/*-------------------------------------------------------------------------------------------------
-----------------------Error/Success Styling ------------------------------------------------------
---------------------------------------------------------------------------------------------------*/


.form {

	&__field {

		&--error {
		 	* {
				color:$error;
		 	}
		}

		&--success {
		 	* {
				color:$success;
		 	}
		}

	}

	.required { color:$error; }

}

