/*========================================================================================
============================ Tables ======================================================
==========================================================================================*/

	table {
		width: 100%;
		border-collapse: collapse;

		tr:nth-child(even) td,
		tr:nth-child(odd) th {
			background: $color--tertiary none repeat 0 0;

			* { color:$color--secondary; }

		}

		th,
		td {
			padding: 10px 5px;
			text-align: left;
		}
			th {
				@include font-size($delta-size);
				color:$color--secondary;
				vertical-align: middle;
			}
			td {
				@include font-size($p-size);
				vertical-align: top;
				border-top: solid 1px $color--tertiary;
			}



		&.table--bordered {
			border-collapse: separate;
			border: solid 1px $color--tertiary;
		}

		&.table--bordered th + th,
		&.table--bordered th + td,
		&.table--bordered td + td {
			border-left: solid 1px $color--tertiary;
		}
	}



/*========================================================================================
============================ Imager Dummy Image =========================================
==========================================================================================*/

.js .js-load-img {

	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	padding-bottom: 75%;
	display: block;
	background: {
		color: transparent;
		image: url('#{$imgsrc}/load.gif');
		repeat: no-repeat;
		position: center center;
	}

}

