/* Modal Popups -> using magnific responsive popup */

.mfp-content {

	.modal {
		position: relative;
		width: auto;
		max-width: 800px;
		margin: 10px auto;
		@include clearfix;
		@include perspective(1300px);

		&:after {
			background: $secondaryColor none repeat 0 0;
			@include box-shadow(none);
		}

		.modal__content {
			background: transparent none repeat 0 0;

			&--anim {
				@include preserve3d;
				@include transform( translateY(100%) rotateX(90deg) );
				@include transform-origin( 0 100% );
			}


			@include opacity( 0 );

			@include transition( all 0.3s $easeInOut );

			@include box-shadow(0px 0px 0px 10px rgba($secondaryColor, 0.3));

		}

			.modal__img,
			.mfp-img {
				padding: 0;
			}

			.modal__close,
			.mfp-close {
				height: 30px;
				width: 30px;
				top: 0;
				right: 0;
				padding: 0;
				background: $secondaryColor none no-repeat 0 0;
				color:$primaryColor;
				line-height: 1;
				text-align: center;
				@include remove-focus;
				@include opacity( 1 );
			}

	}

}

.mfp-ready .mfp-content .modal__content {
	@include opacity( 1 );

	&--anim {
	  	@include transform( translateY(0%) rotateX(0deg) );
	}
}

.mfp-removing .mfp-content .modal__content {
	@include opacity( 0 );

	@include transition( all 0.3s $easeInOut );

	&--anim {
		@include preserve3d;
		@include transform( translateY(100%) rotateX(90deg) );
		@include transform-origin( 0 100% );
	}

}

.mfp-s-error {
	.mfp-preloader {
		left: 0;
		right: 0;
		max-width: 320px;
		margin: 0px auto;
		padding: 30px;
		background: $error;
		color:$secondaryColor;

		a {
			color:inherit;
		}
	}
}