///////////////////////////////////////////////////////////////////////////////////
// BEM GRID ///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
// A Simple Grid mixin that is easily extendable and customisable to your needs. //
///////////////////////////////////////////////////////////////////////////////////
/* stylelint-disable max-nesting-depth */


// BASE VARIABLES //
// You only need to change these base values //
$grid-base-width: 100%;
$grid-column-length: 12;
$grid-column-gutter: 10;

$grid-mobile-width: 100%;



@mixin bem-grid($grid-base-width: $grid-base-width, $grid-column-length: $grid-column-length, $gutter: $grid-column-gutter ){

	$gutter-margin: $gutter/2;

	$column-width-calc: ($grid-base-width/$grid-column-length);

	$column-width: 100%;

	.l-container {

		position: relative;
		max-width: #{$grid-base-width}px;
		margin: 0 auto;
		padding-right: #{$grid-column-gutter}px;
		padding-left: #{$grid-column-gutter}px;

		/*---------------------------*/
		@include mq($max, $mq-mob) {
		    max-width: $mq-mob;
		}
		/*---------------------------*/

	}




	// Your Row Wrapper for columns. This is not essential for your columns
	.l-row {
		position: relative;
		display: block;
		width: 100%;
		margin: 0 auto #{$gutter}px;
		@include clearfix;

		// Reset bottom margin for flush vertical rhythm
		&--reset {
			margin-bottom: 0;
		}

		// Row Modifier to handle tabular style columns
		&--table {
			display: table;
			margin-bottom: 0;

		}

		&__cell {
			display: table-cell;
			float: none;
			height: 100%;
			padding: 0 20px;
		}



		// JUSTIFIED COLUMNS MODIFIER CLASS
		//----- to be used with inline-block columns [.col--inline]
		&--justify {
			text-align: justify;

			&:after {
				content: "";
				display: inline-block;
				width: 100%;
			}
		}

	}




	// THE CORE COLUMN CLASS W/ MODIFIERS
	.l-col {
		position: relative;
		display: inline;
		vertical-align: top;
		float: left;
		margin-right: #{$gutter-margin}px;
		margin-left: #{$gutter-margin}px;

		// STANDARD COLUMNS CLASSES e.g. col--1   col--2   col--3 //
		//----- These are the standard classes to be used in construction //
		@for $i from 1 to $grid-column-length + 1 {
			&--#{$i}{
				width: calc( #{$column-width / $grid-column-length * $i} - #{$gutter-margin*2}px );
			}

			// flex items sometime prefer min-width to allow for better alignment
			&--min-#{$i}{
				min-width: calc( #{$column-width / $grid-column-length * $i} - #{$gutter-margin*2}px );
			}
		}



		// FLUSH MODIFIER CLASSES e.g. col--flush-1   col--flush-2   col--flush-3
		//----- The FLUSH classes remove margins from the columns and so will sit side by side flush without gutters
		@for $i from 1 to $grid-column-length {
			&--flush-#{$i}{
				width: $column-width / $grid-column-length * $i;
				margin-right: 0;
				margin-left: 0;
			}
		}


		// FULL WIDTH MODIFIER CLASS
		//----- Takes 100% of its container
		&--full {
			width: $column-width;
			margin: 0;
		}


		// OFFSET MODIFIER CLASSES e.g. col--offset-1   col--offset-2   col--offset-3 //
		//---- The OFFSET classes allow you to push content via margin in place of a column //
		@for $i from 1 to $grid-column-length {
			&--offset-#{$i}{
				margin-left: calc( #{$column-width / $grid-column-length * $i} + #{$gutter-margin}px );
			}

			&--offset-#{$i}--reverse {
				margin-right: calc( #{$column-width / $grid-column-length * $i} + #{$gutter-margin}px );
				margin-left: auto;
			}
		}

		// INLINE COLUMNS MODIFIER CLASS
		//----- columns are now stacked inline without floats
		&--inline {
			display: inline-block;
			float: none;
		}



		//-----------------------------------------------------------//
		//--------------------- OVERRIDES/RESETS --------------------//
		//-----------------------------------------------------------//

		// Margin Resets
		&--alpha { margin-left: 0; }
		&--omega { margin-right: 0; }


		//Column Align
		&--left { float: left; }
		&--right { float: right; }
		&--center { @include align-center; }

	}


}
// INSTANTIATE THE GRID MIXIN
@include bem-grid($grid-base-width, $grid-column-length, $grid-column-gutter);



// RESETTING COLUMN WIDTHS
// These mixins are not used inside your HTML - Allows you to reset columns via CSS specifically for smaller viewports

//// Resetting standard columns
@mixin reset-cols-to($cols, $grid-base-width:$grid-base-width, $grid-column-length:$grid-column-length, $gutter:$grid-column-gutter){

	$column-width: 100%;
	$gutter-margin: ($gutter/2);
	$column-width-calc: ($grid-base-width/$grid-column-length);

	width: calc( #{$column-width / $grid-column-length * $cols} - #{$gutter-margin*2}px );
}
// Usage: @include reset-cols-to(10);


//// Resetting flush columns
@mixin reset-flush-cols-to($cols, $grid-base-width:$grid-base-width, $grid-column-length:$grid-column-length){
	$column-width-calc: ($grid-base-width/$grid-column-length);
	$column-width: percentage($column-width-calc/$grid-base-width);

	width: $column-width * $cols;

}
// Usage: @include reset-flush-cols-to(10);




/*========================================================================================
============================ Responsive Silent Classes ===================================
==========================================================================================*/

// Grid Breakpoints
$max-breakpoints: (
	desk-lrg: $mq-desk--lrg,
	desk: $mq-desk,
	tab-lrg: $mq-tab--lrg,
	tab: $mq-tab,
	tab-sml: $mq-tab--sml,
	mob-lrg: $mq-mob--lrg,
	mob: $mq-mob,
	mob-med: $mq-mob--med,
	mob-sml: $mq-mob--sml
);
$min-max-breakpoints: (
	tab--quart: (null, $mq-mob + 1),
	tab--half: (null, $mq-mob + 1)
);


// Grid Breakpoint Sizes
$breakpoint-columns: (
	quart: 4,
	third: 3,
	half: 2,
	full: 1
);


// Grid Breakpoint Classes
.l-col {

	@each $class, $breakpoint in $max-breakpoints {
		@each $size, $amount in $breakpoint-columns {

			// Default Variables
			$break-param-1: $breakpoint;
			$break-param-2: null;

			// Set Class Name
			$element: #{$class}--#{$size};
			$params: $breakpoint;

			// Custom Variables
			@each $custom-class, $custom-breakpoint in $min-max-breakpoints {
				@if($element == $custom-class) {
					// Set Breakpoint
					$break-param-2: $break-param-1;
					$break-param-1: nth($custom-breakpoint, 2);
					$params: ($break-param-1, $break-param-2)
				}
			}

			// Create Class
			&.mq-#{$element} {

				@include mq($params) {

					@include reset-cols-to($grid-column-length / $amount);

					&--flush {
						@include reset-flush-cols-to($grid-column-length / $amount);
					}

				}

			}

		}

	}
	// Ensure columns span full at mobile res while container creates a
	/*---------------------------*/
	@include mq($mq-mob) {
		&[class*="l-col"] {
			width: $grid-mobile-width;
			@include align-center;
		}
	}
	/*---------------------------*/
}


//----------------------------------//
//        Media Query Legend        //
//----------------------------------//


//   .mq-desk-lrg--quart				|   	.mq-desk--quart
//   .mq-desk-lrg--quart--flush			|   	.mq-desk--quart--flush
//   .mq-desk-lrg--half					|   	.mq-desk--half
//   .mq-desk-lrg--half--flush			|   	.mq-desk--half--flush
//   .mq-desk-lrg--full					|   	.mq-desk--full
//   .mq-desk-lrg--full--flush			|   	.mq-desk--full--flush
//
//
//
//
//   .mq-tab-lrg--quart					| 		.mq-tab--quart				| 		.mq-tab-sml--quart
//   .mq-tab-lrg--quart--flush			| 		.mq-tab--quart--flush		| 		.mq-tab-sml--quart--flush
//   .mq-tab-lrg--half					| 		.mq-tab--half				| 		.mq-tab-sml--half
//   .mq-tab-lrg--half--flush			| 		.mq-tab--half--flush		| 		.mq-tab-sml--half--flush
//   .mq-tab-lrg--full					| 		.mq-tab--full				| 		.mq-tab-sml--full
//   .mq-tab-lrg--full--flush			| 		.mq-tab--full--flush		| 		.mq-tab-sml--full--flush
//
//
//
//
//   .mq-mob-lrg--quart					| 		.mq-mob--quart
//   .mq-mob-lrg--quart--flush			| 		.mq-mob--quart--flush
//   .mq-mob-lrg--half					| 		.mq-mob--half
//   .mq-mob-lrg--half--flush			| 		.mq-mob--half--flush
//   .mq-mob-lrg--full					| 		.mq-mob--full
//   .mq-mob-lrg--full--flush			| 		.mq-mob--full--flush
//
//
//----------------------------------//
