
/*-----------------------------------------------------------------------------
---------------------------3----LAYOUT BASE ELEMENTS----------------------------
-------------------------------------------------------------------------------*/
html {
	overflow-x:hidden;
	height:100%;
	min-height:100%;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	min-height:100%;
}



/*-----------------------------------------------------------------------------
------------------------------4----------LAYOUT--------------------------------
-------------------------------------------------------------------------------*/


.l-page {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 100%;
}



/* Core Layout Wrapper */
.l-wrap {
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
}




/* Primary Header */

.l-banner {

}


/* Main -> Core Content Container */

.l-main {

}

/* Footer -> Site Primary */

.l-foot {

}
